In [3]:
#import library

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

### 1. Business Understanding

In [ ]:
# Tujuan: Menganalisis faktor-faktor yang mempengaruhi kelayakan keringanan UKT mahasiswa

### 2. Data Understanding

In [5]:
# Memuat data
df = pd.read_csv('klasifikasimhs.csv')

# Melihat beberapa baris pertama dari dataset
df.head()

,Tempat Tinggal,Pekerjaan Orang Tua,Penghasilan Orang Tua,Jumlah Tanggungan Orang Tua,Kendaraan,Kelayakan Keringanan UKT
0,0,PNS,10000000,3,1,0
1,0,TNI/POLRI,8000000,2,2,1
2,1,Petani,4000000,4,0,0
3,1,Nelayan,3000000,5,1,0
4,0,Buruh,2000000,2,1,1

## Pra-pemrosesan Data

Periksa Nilai Unik pada Kolom

In [11]:
print(df['Kelayakan Keringanan UKT'].unique())

['0' '1' '1 1']

Bersihkan Spasi atau Karakter Tidak Diinginkan

In [12]:
df['Kelayakan Keringanan UKT'] = df['Kelayakan Keringanan UKT'].str.strip()  # Hapus spasi
df['Kelayakan Keringanan UKT'] = df['Kelayakan Keringanan UKT'].str.replace(' ', '')  # Hapus spasi di antara angka

Ubah Kolom Menjadi Integer

In [13]:
df['Kelayakan Keringanan UKT'] = pd.to_numeric(df['Kelayakan Keringanan UKT'], errors='coerce')

Tangani Nilai NaN (Jika Ada)

In [14]:
df = df.dropna(subset=['Kelayakan Keringanan UKT'])  # Hapus baris dengan NaN
df['Kelayakan Keringanan UKT'] = df['Kelayakan Keringanan UKT'].astype(int)

In [16]:
df['Pekerjaan Orang Tua'] = df['Pekerjaan Orang Tua'].astype('category').cat.codes
df['Kelayakan Keringanan UKT'] = df['Kelayakan Keringanan UKT'].astype(int)

X = df.drop('Kelayakan Keringanan UKT', axis=1)
y = df['Kelayakan Keringanan UKT']