<a href="https://colab.research.google.com/github/Dotbima6/Data-Mining/blob/main/PercobaanOlahData_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import library

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Read dataset
# Membaca dataset dari file Excel
df = pd.read_excel('dataKasus-1.xlsx')

# Melihat beberapa baris pertama dari dataset
df.head()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,Tidak,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

In [8]:
# Melihat informasi umum tentang dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NO                                561 non-null    int64
 1   NAMA                              561 non-null    object
 2   USIA                              558 non-null    object
 3   PARITAS                           561 non-null    int64
 4   JARAK KELAHIRAN                   554 non-null    object
 5   RIW HIPERTENSI                    561 non-null    object
 6   RIW PE                            561 non-null    object
 7   OBESITAS                          561 non-null    object
 8   RIW DM                            561 non-null    object
 9   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    object
 10  SOSEK RENDAH                      561 non-null    object
 11  PE/Non PE                         561 non-null    object
 12  Unnamed: 12                       11 non-null     object
dtypes: int64(2), object(11)
memory usage: 57.1+ KB
None

In [10]:
# Fungsi untuk menampilkan tipe data dan unique value
def show_column_info(df, column_name):
    print(f"Info kolom '{column_name}' sebelum transformasi:")
    print(f"Tipe data: {df[column_name].dtype}")
    print(f"Nilai unik: {df[column_name].unique()}")

    # Transformasi kolom
    df[column_name] = df[column_name].str.extract('(\d+)')  # Ekstrak angka dari kolom
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')  # Konversi menjadi numerik

    print(f"\nInfo kolom '{column_name}' setelah transformasi:")
    print(f"Tipe data: {df[column_name].dtype}")
    print(f"Nilai unik: {df[column_name].unique()}")

In [11]:
# Menampilkan info sebelum dan sesudah transformasi kolom USIA
show_column_info(df, 'USIA')

Info kolom 'USIA' sebelum transformasi:
Tipe data: object
Nilai unik: ['23 TH' '29 TH' '20 TH' '18 TH' '34 TH' '28 TH' '36 TH' '39 TH' '37 TH'
 16 '24 TH' '31 TH' '35 TH' '13 TH ' '21 TH' '40 TH' 28 '25 TH' '27 TH'
 '26 TH ' '30 TH' '38 TH' 29 '33 TH' '22 TH' 23 37 '41 TH' '16 TH' '15 TH'
 '26 TH' '19 TH' '39 TH ' nan '17 TH' '38 th' '35 th' '33 th' '25 th'
 '27 th' '23 th' '21 th' '39 th' '30 th' '30 th ' '32 th' '26 th' '20 th'
 '37 th' '17 th' '29 th' '28 th' '24 th' '31 th ' '40 th' '22 th' '34 th'
 '31 th' '36 th' '31  th' 26 '19 th' '41 th' '19 th ' '31th' 21 '40th'
 '18 th' '32 TH' '43 TH' '20 TH ' '23TH' '14 TH']

Info kolom 'USIA' setelah transformasi:
Tipe data: float64
Nilai unik: [23. 29. 20. 18. 34. 28. 36. 39. 37. nan 24. 31. 35. 13. 21. 40. 25. 27.
 26. 30. 38. 33. 22. 41. 16. 15. 19. 17. 32. 43. 14.]

In [12]:
# Jika perlu, simpan hasil yang sudah ditransformasi ke file baru
df.to_excel('transformed_dataKasus-1.xlsx', index=False)

In [13]:
# 1. Mengidentifikasi nilai NaN di setiap kolom
print("Jumlah nilai NaN sebelum data cleansing:")
print(df.isnull().sum())

Jumlah nilai NaN sebelum data cleansing:
NO                                    0
NAMA                                  0
USIA                                 14
PARITAS                               0
JARAK KELAHIRAN                       7
RIW HIPERTENSI                        0
RIW PE                                0
OBESITAS                              0
RIW DM                                0
RIW HIPERTENSI/PE DALAM KELUARGA      0
SOSEK RENDAH                          0
PE/Non PE                             0
Unnamed: 12                         550
dtype: int64

In [14]:
# 2. Mengatasi NaN sesuai jenis kolom
# Untuk kolom numerik (contoh: USIA), ganti NaN dengan median
df['USIA'].fillna(df['USIA'].median(), inplace=True)

<ipython-input-14-2b0373266fbe>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['USIA'].fillna(df['USIA'].median(), inplace=True)

In [15]:
# Untuk kolom kategorikal (contoh: SOSEK RENDAH), ganti NaN dengan modus (nilai yang paling sering muncul)
df['SOSEK RENDAH'].fillna(df['SOSEK RENDAH'].mode()[0], inplace=True)

<ipython-input-15-c5f49dcf2986>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SOSEK RENDAH'].fillna(df['SOSEK RENDAH'].mode()[0], inplace=True)

In [16]:
# 3. Mengidentifikasi nilai NaN setelah pembersihan
print("\nJumlah nilai NaN setelah data cleansing:")
print(df.isnull().sum())

Jumlah nilai NaN setelah data cleansing:
NO                                    0
NAMA                                  0
USIA                                  0
PARITAS                               0
JARAK KELAHIRAN                       7
RIW HIPERTENSI                        0
RIW PE                                0
OBESITAS                              0
RIW DM                                0
RIW HIPERTENSI/PE DALAM KELUARGA      0
SOSEK RENDAH                          0
PE/Non PE                             0
Unnamed: 12                         550
dtype: int64

In [20]:
# Menghapus baris yang memiliki NaN pada kolom 'JARAK KELAHIRAN'
df_cleaned = df.dropna(subset=['JARAK KELAHIRAN'])

# Mengecek apakah ada NaN yang tersisa di kolom 'JARAK KELAHIRAN'
nan_after_cleaning = df_cleaned['JARAK KELAHIRAN'].isnull().sum()

# Menampilkan jumlah NaN setelah proses penghapusan
print(f"Jumlah NaN setelah penghapusan: {nan_after_cleaning}")
print(f"Bentuk data setelah penghapusan: {df_cleaned.shape}")

Jumlah NaN setelah penghapusan: 0
Bentuk data setelah penghapusan: (554, 13)

In [23]:
# Jika Anda ingin hanya menerapkan pada kolom tertentu, contoh:
df['RIW HIPERTENSI'] = df['RIW HIPERTENSI'].replace({'Tidak': 0, 'Ya': 1})

df['RIW PE'] = df['RIW PE'].replace({'Tidak': 0})

df['OBESITAS'] = df['OBESITAS'].replace({'Tidak': 0, 'Ya': 1})

df['RIW DM'] = df['RIW DM'].replace({'Tidak': 0, 'Ya': 1})

df['RIW HIPERTENSI/PE DALAM KELUARGA'] = df['RIW HIPERTENSI/PE DALAM KELUARGA'].replace({'Tidak': 0, 'Ada': 1})

<ipython-input-23-49ddb9f923e0>:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['RIW HIPERTENSI/PE DALAM KELUARGA'] = df['RIW HIPERTENSI/PE DALAM KELUARGA'].replace({'Tidak': 0, 'Ada': 1})

In [24]:
# Menampilkan hasil penggantian
df.head()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23.0,3,< 2 tahun,0,0,0,1,0,>UMR,Non PE,NaN
1,2,NAMA 2,29.0,2,< 2 tahun,0,PEB,0,0,1,>UMR,PE,NaN
2,3,NAMA 3,20.0,1,anak pertama,0,0,0,0,0,>UMR,Non PE,NaN
3,4,NAMA 4,18.0,1,anak pertama,0,0,0,0,0,>UMR,Non PE,NaN
4,5,NAMA 5,34.0,3,> 2 tahun,0,0,0,0,0,>UMR,Non PE,NaN